* { box-sizing: border-box;} 

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: url('../images/background.jpg');
    font-size: 18px;
    line-height: 34px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: black; 
  }

h1, h2, h3 {
    font-family: 'Cabin Condensed', sans-serif;
    font-weight: 700;
    color: #0d0368;
}

p {
    font-family: 'Cabin Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #0d0368;
    text-align: left;
}

a {
    font-family: 'Cabin Condensed', sans-serif;
    text-align: left;
    font-weight: 200;
    font-size: 16px !important;
}

h1 {
    font-size: 30px;
    line-height: 49px;
    padding-bottom: 20px;
    border-bottom: 3px solid #0d0368;
}

h2, h3 { 
    font-size: 22px;
}

#logo {
    margin-left: 15px;
    font-family: 'Cabin Condensed', sans-serif;
    font-weight: 600;
    font-size: 30px;
    background: #176bcc;
    color: #fff;
}

.navbar {
    min-height: 80px;
    color: #176bcc;
}
  
.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}
.navbar-right > li {
    margin-top: 15px;
    border-left: 1px solid #efefef;
}

.navbar-right > li:first-of-type
{
    border-left: none;
}


#main-container {
    min-height: 100%
}

.main-section {
    padding: 30px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background: #fff;
}


.sidebar { 
    padding: 30px;
    border: 1px solid #ddd;
    background: #fff;
}

.sidebar a:hover img {
    border: 3px solid #0d0368;
}

h3, .sidebar, h2 { 
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
}

.social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}

.social:last-child { 
    margin-right: 0;
}


footer {
    clear: both;
    font-size: 12px;
    text-align: center !important;
    padding: 30px 0;
    margin-top: -170px;
    border-top: 8px solid #0d0368;
    background: #176bcc;
    color: white;
}

.container {
    display: flex;
    margin: auto;
}

.thumbnail {
    flex: 1;
}

.thumbnail >img {
    width: 100%;
    height: auto;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}

.work img {
    opacity: .8;
    width: 200;
    height: 200;
}

.work h3 { 
    padding: 15px;
    line-height: 30px;
    border-bottom: 0;
    margin-bottom: 0; 
    text-align: center;
    font-weight: 300;
    background: #2558c7;
    color: #fff;
} 

.work:hover img {
    opacity: 1;
}


textarea 
{
    max-width: 100%;
}

.btn-default 
{
    background-color: #990c5e;
    color: #fff;
}

.rounded-circle {
    border-radius: 50%;
    min-width: 100%;
  }
a#cap {
    color: #fff;
}